<%= link_to 'Back to Subject List', subjects_path %>
<br>
<br>
<h2><%= @subject.name %> - Topics</h2>

<ul>
<% @topics.each do |topic| %>
  <li>
    <%= link_to topic.name, subject_topic_path(@subject, topic), class: "note-icon" %>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Topic', new_subject_topic_path(@subject) %> |
<%= link_to 'Edit Subject', edit_subject_path(@subject) %>
