<%= link_to raw('&larr; Back to Subjects'), subjects_path, class: "button" %>
<br>
<br>
<% @topics.each do |topic| %>
    <span class="buttongroup3"><span class="button"><%= topic.name %></span><%= link_to 'Notes', subject_topic_notes_path(@subject, topic), class: "button" %><%= link_to 'Edit', edit_subject_topic_path(@subject, topic), class: "button" %></span>
    <br>
    <br>
<% end %>
<%= link_to '+ New Topic', new_subject_topic_path(@subject), class: "button" %>
