<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pen Pencil Ruler - Studying made easier</title>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application-main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% [:notice, :error, :alert].each do |level| %>
  <% unless flash[level].blank? %>
    <div class="main">
  <div class="maxwidth"><div class="alert-message">
      <%= content_tag :p, flash[level] %>
      </div></div>
    </div>
  <% end %>
<% end %>

  <header>
    <div class="maxwidth">
      <a href="/" class="home"><img src="<%= image_path("pencil.png") %>" width="50" height="50"> <span>Pen Pencil Ruler</span></a>
        <span class="userinfo"><% if user_signed_in? %>
          <span>Signed in as <%= current_user.email %>.</span>
          <%= link_to "Sign out", logout_path, :method => :delete %>
        <% else %>
          <a href="signup" class="signup">Sign up</a>
          <a href="login" class="login">Login</a>
        <% end %></span>
    </div>
  </header>
  <div class="main">
  <div class="maxwidth">
<%= yield %>
</div>
</div>
<footer>
    <div class="maxwidth">
      Created by <a href="http://www.jackhughesweb.com">Jack Hughes</a>
    </div>
  </footer>
</body>
</html>
